<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>C++ by Example</title>
    <link rel=stylesheet href="site.css">
  </head>

  <body>

    <div class="example">
      <h2>Example: $ExampleName</h2>

      <table class="example">
	$Block
      </table>

      $NextBlock

      <p class="footer">
	<a href="index.html">Home</a> |
        by <a href="https://code4projects.net">Salvatore D'Angelo</a> |
	<a href="https://github.com/sasadangelo/pythonbyexamples">Source</a> |
	<a href="https://github.com/sasadangelo/pythonbyexamples#license">License</a>
      </p>


    </div>
  </body>
</html>
