<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python by Example</title>
    <link rel=stylesheet href="site.css">
  </head>

  <body>
    <div id="intro">
      <h2>Python by Example</h2>
      <p>
          <a href="https://www.python.org/">Python</a> is a programming language 
          that lets you work quickly and integrate systems more effectively.
          Python is an interpreted, object-oriented, high-level programming 
          language with dynamic semantics. Its high-level built in data structures, 
          combined with dynamic typing and dynamic binding, make it very attractive 
          for Rapid Application Development, as well as for use as a scripting or 
          glue language to connect existing components together.  
      </p>
      <p>
          <em>Python by Example</em> is a hands-on introduction to Python using
          annotated example programs. Check out the <a href="hello-world.html">first example</a> or
          browse the full list below.
      </p>
      <ul>
	$ExampleList
      </ul>
      <p class="footer">by 
	<a href="https://code4projects.net">Salvatore D'Angelo</a> |
	<a href="https://github.com/sasadangelo/pythonbyexamples">Source</a> |
	<a href="https://github.com/sasadangelo/pythonbyexamples#license">License</a>
      </p>
    </div>
  </body>
</html>
